body,
button,
input,
select,
textarea {
    font-family: 'Fira Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    font-size: 14px;
    overflow-x: auto;
}

#draft {
    width: 500px;
    height: 700px;
    background-image: url('./field.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 768px) {
    #draft {
        max-width: 500px;
    }
}

.draft-container {
    position: absolute;
    text-align: center;
}

.draft-container .footballer-name{
    width: 40px;
    height: 40px;
    font-weight: bold;
    display: flex;
    font-family: system-ui;
    align-items: center;
    justify-content: center;
    top: 60px;
    position: absolute;
    left: 30px;
}

.draft-pos {
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px #fff solid;
    color: #fff;
    display: flex;
    font-family: system-ui;
    align-items: center;
    justify-content: center;
    top: 30px;
    position: absolute;
    left: 30px;
}

.kadro {
	display: flex;
	flex: 1;
	width: 100%;
	
}

.kadro .ilk,.kadro .yedek {
	display: flex;
	flex-flow: column;
	flex: 1;

	width: 100%;
	min-width: 250px;
	max-width: 350px;
	height: 100%;
	min-height: 150px;
    
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 15px;
	padding: 8px;
	transition: all 0.2s linear;
}

.kadro .ilk label,.kadro .yedek label{
    text-align: center;
}

.kadro .ilk .list-item,.kadro .yedek .list-item {
	background-color: #F3F3F3;
	border-radius: 8px;
	padding: 15px 20px;
	text-align: center;
	margin: 4px 0px;
}
.kadro .ilk .list-item div, .kadro .yedek .list-item div {
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px #fff solid;
    color: #fff;
    display: flex;
    font-family: system-ui;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -10px;
}